.todo-list-container{
  // background: skyblue;
  text-align: center;
  margin-top: 100px;
  .heading{
    width: 100%;
    font-size: 45px;
    color: #333;
    margin-bottom: 35px;
    text-align: center;
  }
  form{
    width: 500px;
    display: inline-flex;
    input{
      width: 400px;
      border-radius: 4px 0 0 4px;
      height: 50px;
      padding: 10px 15px;
      font-size: 16px;
      border: 1px solid #ccc;
    }
    button{
      width: 100px;
      height: 50px;
      border-radius: 0 4px 4px 0;
      background: green;
      color: #fff;
      box-shadow: 3px 3px 6px #ccc;
      border: 1px solid green;
    }
  }
  .todo-list{
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    width: 500px;
    display: inline-block;

    .list-item{
      padding: 15px;
      font-size: 16px;
      margin-top: 20px;
      box-shadow: 3px 3px 7px #ccc;
      border-radius: 6px;
      background: #fff;
      border: 1px solid #ccc;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // .completed{
      //   text-decoration: line-through;
      //   font-style: italic;
      //   opacity: .7;
      // }
      // .delete{
      //   color: red;
      //   font-size: 11px;
      //   font-weight: 600;
      //   letter-spacing: 1px;
      // }
      button{
        background: rgba(255, 0, 0, .7);
        color: #fff;
        font-size: 10px;
        border: none;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        cursor: pointer;
      }
    }
  }
}
